@media (min-width: 740px) and (max-width: 1023px) {
  .header .section-content {
    top: 35%;
  }
  .main-container .dishes-container {
    margin-top: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-container .dishes-container .dish1 {
    margin: 3rem 1rem 0rem 1rem;
  }
  .main-container .dishes-container .dish-shared {
    width: 12rem;
    height: 12rem;
  }
  .main-container .dishes-container .dish-shared h2 {
    padding-bottom: 2.8rem;
  }
  .main-container .dishes-container .dish-shared a {
    top: 10.5rem;
  }
  .main-container .feature-cards {
    -ms-grid-columns: (minmax(41rem, 0.6fr))[auto-fit] !important;
        grid-template-columns: repeat(auto-fit, minmax(41rem, 0.6fr)) !important;
  }
  .main-container .feature-cards .feature__card {
    -ms-grid-rows: 20vw min-content !important;
        grid-template-rows: 20vw -webkit-min-content !important;
        grid-template-rows: 20vw min-content !important;
  }
  .main-container .feature-cards .feature__card .feature__img-box {
    border-radius: 0.25rem;
    margin: 0;
  }
  .main-container .video-section {
    padding: 10rem 4rem;
  }
  .event__card:nth-child(2),
  .feature__card:first-child {
    padding-bottom: 1.9rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 739px) {
  .active {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .modal__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal__btn .modal__btn-style {
    margin-right: 0 !important;
    margin-bottom: 1rem !important;
  }
  .header .navbar .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style-type: none;
    line-height: inherit !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 888;
        -ms-flex-positive: 888;
            flex-grow: 888;
    display: none;
  }
  .header .navbar .nav-list li:not(:last-child) {
    margin-right: 0rem;
  }
  .bar-icon {
    display: block !important;
  }
  .nav-list li {
    margin: 0.3rem 0;
  }
  .dishes-container {
    margin-top: 0 !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dishes-container .dish1 {
    margin: 1rem 0;
  }
  .dishes-container .dish2 {
    margin-top: 0 !important;
  }
  .main-container .feature-container .feature-cards {
    -ms-grid-columns: (minmax(20rem, 0.6fr))[auto-fit] !important;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 0.6fr)) !important;
  }
  .main-container .feature-container .feature-cards .feature__card {
    -ms-grid-rows: 27vw min-content !important;
        grid-template-rows: 27vw -webkit-min-content !important;
        grid-template-rows: 27vw min-content !important;
  }
  .main-container .feature-container .feature-cards .feature__card img {
    height: 30vw !important;
  }
  .video-section .video__box {
    padding: 0 !important;
  }
  .event-section {
    -ms-grid-columns: (minmax(21rem, 1fr))[auto-fit] !important;
        grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr)) !important;
  }
  .contact-section .contact__box {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .contact-section .contact__box .contact__info {
    margin-right: 0 !important;
  }
  .main-container .contact-section .contact__box .contact__img {
    height: 14rem;
    width: -webkit-fill-available !important;
  }
  .event__card:nth-child(2),
  .feature__card:first-child {
    padding-bottom: 1.9rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}
/*# sourceMappingURL=responsive.css.map */